n8n-get-urls-workflow.json
{
  "name": "Get Website URLs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-urls",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "get-urls"
    },
    {
      "parameters": {
        "operation": "map",
        "url": "={{ $json.body.url }}",
        "includeSubdomains": true,
        "requestOptions": {}
      },
      "id": "firecrawl-node",
      "name": "Map a website and get urls",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "firecrawlApi": {
          "id": "LWzb4GlepSCZvpQm",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var links = $input.first().json.links;\nif (!links || !Array.isArray(links)) {\n  return [];\n}\n// Filter out sitemap URLs\nlinks = links.filter(s => s && s.url && !s.url.includes(\"sitemap\"));\n// Extract only URLs\nreturn links.map(link => link.url);"
      },
      "id": "parse-urls-node",
      "name": "Parse URL list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Map a website and get urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map a website and get urls": {
      "main": [
        [
          {
            "node": "Parse URL list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse URL list": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

