n8n-ingest-rag-workflow.json
{
  "name": "Ingest RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-rag",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -192,
        776
      ],
      "id": "3597c4d4-a663-432a-abcd-a719c02874dd",
      "name": "Webhook Trigger3",
      "webhookId": "bf12f8ad-7c2e-4a29-ae52-a311de6cbe47"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "summary",
                "value": "={{ $json.body.metadata.summary }}"
              },
              {
                "name": "keywords",
                "value": "={{ $json.body.metadata.keywords }}"
              },
              {
                "name": "source_url",
                "value": "={{ $json.body.url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        168,
        1000
      ],
      "id": "cde6d5c1-8979-4e0f-a6c6-059caabfd8ac",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        1000
      ],
      "id": "c5f99c2a-27c1-4783-8b75-323ab86d5ba6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PNrQgr8BpE7ZBQoo",
          "name": "FA OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "=fa_product_chatbot_{{ $('Webhook Trigger3').item.json.body.company_id }}_vectors_7",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        32,
        776
      ],
      "id": "7a387cda-6a39-4c2a-a75e-aa838dc0dda2",
      "name": "Postgres Vector Store",
      "credentials": {
        "postgres": {
          "id": "NojnkIJjN65xBhrN",
          "name": "FA Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Content successfully vectorized and stored.\",\n  \"company_id\": {{ $('Webhook Trigger3').item.json.body.company_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        776
      ],
      "id": "017788da-07e3-45c2-b75d-4dccedfb3249",
      "name": "Return Success"
    }
  ],
  "connections": {
    "Webhook Trigger3": {
      "main": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Store": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "dc2443ba923e7aeb4daaff9baa293a38716a10974a4962e0c410012ccec9062c"
  }
}

